{%- extends "layout/base.html" -%}
{%- block content -%}

<div class="container-fluid py-4">
  <div class="row my-4">
    <div class="col-lg-9 col-md-12 mb-md-0 mb-4">
      <div class="card">

        <div class="form-label mt-3">
          <h3>Overall Information</h3>
          <h5>Filename : {{filename}}</h5>
        </div>
        <table class="table">
          <tr>
            <td>Start Date : {{general.start_date}}</td>
            <td>End Date : {{general.end_date}}</td>
          </tr>
          <tr>
            <td>Total Requests : {{general.total_requests}}</td>
            <td>Valid Requests : {{general.valid_requests}}</td>
          </tr>
          <tr>
            <td>Failed Requests : {{general.failed_requests}}</td>
            <td>Created at : {{create_at}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg-9 col-md-12 mb-md-0 mb-4">
      <div class="card">
        <div class="card-body px-4 pb-2">
          <div class="table-responsive">
            <h3>Requested Files</h3>
            <table class="table align-items-center mb-0" id="id-req">
              <thead>
                <tr>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Hits</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7 ps-2">Visitor
                  </th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Method</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Protocol</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Data</th>


              </thead>
              <tbody>
                {%for i in requests.data%}
                <tr>
                  <td>{{i.hits.count}}</td>
                  <td>{{i.visitors.count}}</td>
                  <td>{{i.method}}</td>
                  <td>{{i.protocol}}</td>
                  <td>{{i.data}}</td>
                </tr>
                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-12 mb-md-0 mb-4 mt-3">
      <div class="card">
        <div class="card-body px-4 pb-2">
          <div class="table-responsive">
            <h3>Not Found Urls (404)</h3>
            <table class="table align-items-center mb-0" id="id-not">
              <thead>
                <tr>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Hits</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7 ps-2">Visitor
                  </th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Method</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Protocol</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Data</th>


              </thead>
              <tbody>
                {%for i in not_found.data%}
                <tr>
                  <td>{{i.hits.count}}</td>
                  <td>{{i.visitors.count}}</td>
                  <td>{{i.method}}</td>
                  <td>{{i.protocol}}</td>
                  <td>{{i.data}}</td>
                </tr>
                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-12 mb-md-0 mb-4 mt-3">
      <div class="card">
        <div class="card-body px-4 pb-2">
          <div class="table-responsive">
            <h3>Referring Sites</h3>
            <table class="table align-items-center mb-0" id="id-ref">
              <thead>
                <tr>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Hits</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7 ps-2">Visitor
                  </th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Method</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Protocol</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Data</th>


              </thead>
              <tbody>
                {%for i in ref_site.data%}
                <tr>
                  <td>{{i.hits.count}}</td>
                  <td>{{i.visitors.count}}</td>
                  <td>{{i.method}}</td>
                  <td>{{i.protocol}}</td>
                  <td>{{i.data}}</td>
                </tr>
                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-9 col-md-12 mb-md-0 mb-4 mt-3">
      <div class="card">
        <div class="card-body px-4 pb-2">
          <div class="table-responsive">
            <h3>Operating Systems</h3>
            <table class="table align-items-center mb-0" id="id-os">
              <thead>
                <tr>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Hits</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7 ps-2">Visitor
                  </th>

                  <th class="text-secondary text-s font-weight-bolder opacity-7">Data</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Detail</th>


              </thead>
              <tbody>
                {%for i in os.data%}
                <tr>
                  <td>{{i.hits.count}}</td>
                  <td>{{i.visitors.count}}</td>
                  <td>{{i.data}}</td>
                  <td><a href="/analytic/log-detail/{{id}}?type=os&subtype={{i.data}}&logid={{logid}}"
                      class="btn btn-primary">Detail</a></td>
                </tr>
                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-12 mb-md-0 mb-4 mt-3">
      <div class="card">
        <div class="card-body px-4 pb-2">
          <div class="table-responsive">
            <h3>Browsers</h3>
            <table class="table align-items-center mb-0" id="id-browser">
              <thead>
                <tr>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Hits</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7 ps-2">Visitor
                  </th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Data</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Detail</th>


              </thead>
              <tbody>
                {%for i in browser.data%}
                <tr>
                  <td>{{i.hits.count}}</td>
                  <td>{{i.visitors.count}}</td>
                  <td>{{i.data}}</td>
                  <td><a href="/analytic/log-detail/{{id}}?type=browsers&subtype={{i.data}}&logid={{logid}}"
                      class="btn btn-primary">Detail</a></td>
                </tr>
                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-12 mb-md-0 mb-4 mt-3">
      <div class="card">
        <div class="card-body px-4 pb-2">
          <div class="table-responsive">
            <h3>Static Requests</h3>
            <table class="table align-items-center mb-0" id="id-req2">
              <thead>
                <tr>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Hits</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7 ps-2">Visitor
                  </th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Method</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Protocol</th>
                  <th class="text-secondary text-s font-weight-bolder opacity-7">Data</th>
              </thead>
              <tbody>
                {%for i in static_req.data%}
                <tr>
                  <td>{{i.hits.count}}</td>
                  <td>{{i.visitors.count}}</td>
                  <td>{{i.method}}</td>
                  <td>{{i.protocol}}</td>
                  <td>{{i.data}}</td>
                </tr>
                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>

{%- endblock -%}
{%- block extrajs -%}
<script>
  new DataTable('#id-req');
  new DataTable('#id-req2');
  new DataTable("#id-not")
  new DataTable("#id-ref")
  new DataTable("#id-os")
  new DataTable("#id-browser")

  


</script>
{%- endblock -%}