{%- extends "layout/base.html" -%}
{%- block content -%}


<div class="container-fluid py-4">

    <div class="row my-4">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>License</h6>
                        </div>
                    </div>
                </div>
                <div class="compression_form">

                    <div class="card-body px-4 pb-2">
                        <div class="form-groupmb-5">
                            <label for="license" class="form-label">Input License</label>
                            <div class="d-flex align-items-center mb-3">
                                <input type="file" class="file license_file" name="license">
                                <div class="input-group col-xs-12 d-flex align-items-center  w-25">
                                    <input type="text" class="form-control input-lg" disabled
                                        placeholder="Upload License">
                                    <span class="input-group-btn">
                                        <button class="browse btn input-lg my-0" type="button"><i
                                                class="glyphicon glyphicon-search"></i> Browse</button>
                                    </span>
                                </div>
                                <a href="#" onclick="check_licence()" class="ms-3">Check Status</a>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-info ms-4" href="#" onclick="send_licence()" class="ms-3">Submit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>CCTV List <small class="font-weight-lighter">(for Compression
                                    Setting)</small></h6>
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-secondary text-sm font-weight-bolder opacity-7">CCTV
                                        Name
                                    </th>
                                    <th class="text-secondary text-center text-sm font-weight-bolder opacity-7 ps-2">
                                        Level Compression <small class="font-weight-lighter">(25-35)</small>
                                    </th>
                                    <th class="text-secondary text-center  text-sm font-weight-bolder opacity-7 ps-2">
                                        Custom Endpoint <small class="font-weight-lighter">(Optional)
                                        </small>
                                    </th>
                                    <th class="text-secondary text-sm font-weight-bolder opacity-7 ps-2 text-center">
                                        Output Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in cctv %}
                                <tr>
                                    <td>
                                        <div class=" d-flex px-3 py-1">
                                            <h6 class="mb-0 text-sm fw-normal">{{ i.name }}</h6>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm fw-normal text-center">32</h6>
                                    </td>
                                    <td class="">
                                        <h6 class="mb-0 text-sm fw-normal text-center">-</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm fw-normal text-center">RTSP</h6>
                                    </td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <a href="/compression/change-setting" class="btn btn-warning text-white">Change Setting</a>
    </div>

</div>
</main>
{%- block modal -%}
<div class="modal fade" id="checkLicense" tabindex="-1" aria-labelledby="addFailedLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black">
                <h6 class="modal-title"><i class="fas fa-exclamation-circle me-2"></i>
                    <span> Status</span></h6>
            </div>
            <div class="modal-body px-5 py-3">
                <h4 class="fw-light text-muted">License Status</h4>
                <h2 id="statusLicense">-</h2>
                <div class="py-3">
                    <p>
                        Start Date : <span class="text-dark fw-bold" id="startDateLicense"></span>
                    </p>
                    <p>
                        End Date : <span class="text-dark fw-bold" id="endDateLicense"></span>
                    </p>
                </div>
                <div class="d-flex justify-content-center btn-modal mt-2">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock -%}


{%- endblock -%}
{%- block extrajs -%}
<script>
    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');

    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));

    });

    function check_licence() {
        var data = $('.license_file').prop('files');
        console.log(data[0].type)


        console.log('hai')
        formdata = new FormData();
        formdata.append("licence", data[0]);

        jQuery.ajax({
            type: 'POST',
            url: "/api/v1/license/check",
            data: formdata,
            processData: false,
            contentType: false,
            success: function (res) {
                var start = $('#startDateLicense')
                var end = $('#endDateLicense')
                var status = $('#statusLicense')
                start.text(res.start_date)

                if (res.status == 200) {
                    $('#checkLicense').modal('show')
                    status.text('Valid')
                    status.addClass('text-success')
                    start.text(res.data.start_date)
                    end.text(res.data.start_date)
                } else if (res.status == 401) {
                    $('#checkLicense').modal('show')
                    status.text('Not Started')
                    status.addClass('text-info')
                    start.text(res.data.start_date)
                    end.text(res.data.start_date)
                } else if (res.status == 402) {
                    $('#checkLicense').modal('show')
                    status.text('Expired')
                    status.addClass('text-danger')
                    start.text(res.data.start_date)
                    end.text(res.data.start_date)
                } else {
                    $('#checkLicense').modal('show')
                    status.text('Failed')
                    status.addClass('text-danger')
                    start.remove()
                    end.remove()
                }

            }
        })


    }

    function send_licence() {
        var data = $('.license_file').prop('files');
        console.log(data[0].type)


        console.log('hai')
        formdata = new FormData();
        formdata.append("licence", data[0]);

        jQuery.ajax({
            type: 'POST',
            url: "/api/v1/license",
            data: formdata,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.status == 200) {
                    alert('License added successfully')
                    location.reload()
                } else {
                    alert(res.message)
                }

            }
        })


    }
</script>
{%- endblock -%}