{%- extends "layout/base.html" -%}
{%- block content -%}

<!-- End Navbar -->
<div class="container-fluid py-4">
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary mb-0 d-flex align-items-center" href="/account-manager/add-account"><i
                class="fas fa-plus me-2"></i>
            Add Account</a>
    </div>
    <div class="row my-4">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Account List</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-secondary text-sm font-weight-bolder opacity-7"> Name
                                    </th>
                                    <th class="text-secondary text-sm font-weight-bolder opacity-7 ps-2">
                                        Email
                                    </th>
                                    <th class="text-secondary text-sm font-weight-bolder opacity-7 ps-2">Role
                                    </th>
                                    <th class="text-secondary text-sm font-weight-bolder opacity-7 ps-2 text-center">
                                        Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for user in users%}
                                <tr>
                                    <td>
                                        <div class=" d-flex px-3 py-1">
                                            <h6 class="mb-0 text-sm fw-normal">{{ user.name }}</h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class=" d-flex  py-1">
                                            <h6 class="mb-0 text-sm fw-normal">{{ user.email }}</h6>
                                        </div>
                                    </td>
                                    <td class="">
                                        <span class="text-sm text-success">{{user.role}}</span>
                                    </td>
                                    <td class="d-flex justify-content-center align-middle">
                                        <a href="/account-manager/delete/{{user.email }}"
                                            class="btn bg-danger-2 rounded text-white py-1 px-2 mx-2"><i
                                                class="fas fa-trash"></i></a> |
                                        <a href="/account-manager/update/{{user.email }}" class="btn bg-info rounded text-white py-1 px-2 mx-2"><i
                                                class="fas fa-edit"></i></a>

                                    </td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{%- endblock -%}