{%- extends "layout/base.html" -%}
{%- block content -%}

<div class="container-fluid py-4">
    <div class="row my-4">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <h6>Scan Result</h6>
                            <div class="table-responsive">
                            <form><table class="table align-items-center mb-0">
                                <thead><tr>
                                 <th class="" width="5%"><div class="form-check"><input class="form-check-input" type="checkbox" value=""  id="checkAll"></div></th>
                                <th class="text-secondary text-sm font-weight-bolder opacity-7">CCTV IP</th>
                                <th class="text-secondary text-sm font-weight-bolder opacity-7">CCTV RTSP</th>
                                <th class="text-secondary text-sm font-weight-bolder opacity-7 ps-2">CCTV Name</th>
                                <tbody >
                                {% if scan %}
                                
                                    {%for i in scan%}
                                    <tr>
                                        <td class="ps-4">
                                            <div class="form-check">
                                                <input class="form-check-input" id='cb-{{loop.index}}'  name="check[]" value="{{loop.index}}" type="checkbox">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-3 py-1">
                                                <h6 class="mb-0 text-sm fw-normal">{{ip}}</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-3 py-1">
                                                <input type="text" class="form-control border px-2 w-75"
                                                    id="url_{{loop.index}}" name="url[]" readonly
                                                    placeholder="Default Name" value="{{i}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-3 py-1">
                                                <input type="text" class="form-control border px-2 w-75"
                                                    id="cctv_name_{{loop.index}}" name="cctv_name[]"
                                                    placeholder="Default Name" value="">
                                            </div>
                                        </td>
                                        </tr>
                                        {%endfor%}
                                    {%endif%}
                                </tbody></table> <hr>
                                <button class="btn btn-primary" onclick="sendNVR(event)"> Submit</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</main>


{%- endblock -%}
{%- block extrajs -%}
<script>
    function sendNVR(e){
        e.preventDefault();
        var checked = $('input[name="check[]"]').serializeArray();
        var rtspUrl = []
        var cctvName = []
        if (checked.length == 0) {
            console.log('empty')
            return false
        }

        $.each(checked, function (key, value) {
            var id = value.value
            var url = ''
            var name = ''

            if($('#url_'+id).val() != ''){
                url = $('#url_'+id).val()
            }

            if($('#cctv_name_'+id).val() != ''){
                name = $('#cctv_name_'+id).val()
            }

            rtspUrl.push(url)
            cctvName.push(name)
        });
        console.log(rtspUrl)
        console.log(cctvName)

        $.each(rtspUrl, function (key, value) {
            if (cctvName[key] != ""){
                $.post('/api/v1/cctv/detail-post', {
                name: cctvName[key],
                url: rtspUrl[key],
                }, function (res) {
                    if(res.status == 200){
                        console.log(res)
                    }else{
                        console.log('failed')
                    }
                })
            }else{
                console.log('failed')
            }
            
        })
        


    }

</script>
{%- endblock -%}
