{%- extends "layout/base.html" -%}
{%- block content -%}

<div class="container-fluid py-4">
    <div class="row my-4">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Scan Result</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 pb-2">
                    <div id="result">
                        <!-- IF NO DATA -->
                        <div class="d-flex justify-content-center p-5 my-5">
                            <img src="/img/nodata.png" alt="No Data">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</main>


{%- endblock -%}

{%- block extrajs -%}
<script>
    function sendMulti(e) {
        e.preventDefault();

        console.log('haii')

        var checked = $('input[name="check[]"]').serializeArray();
        var username = []
        var ids = []
        var password = []
        var cctvName = []

        if (checked.length == 0) {
            console.log('empty')
            return false
        }


        $.each(checked, function (key, value) {
            id = value.value
            var ip = $("#cb-"+id).data("ip");
            // console.log(ip)
            usernameTmp = ""
            passTmp = ""
            var tmpCctv = ''

            if ($('#username_' + id).val() != '') {
                usernameTmp = $('#username_' + id).val();
            }

            if ($('#password_' + id).val() != '') {
                passTmp = $('#password_' + id).val();
            }
            
            if ($('#cctv_name_' + id).val() != '') {
                tmpCctv = $('#cctv_name_' + id).val();
            }
            

            username.push(usernameTmp);
            password.push(passTmp);
            ids.push(ip);
            cctvName.push(tmpCctv)

        });
        // console.log(username)
        // console.log(ids.length)
        // console.log(password)
        // console.log(cctvName)
        var resultPost = []

        $.each(ids, function (key, value) {
            if (cctvName[key] != ""){
                $.post('/api/v1/cctv/scanpost', {
                ip: ids[key],
                username: username[key],
                password: password[key],
                name:cctvName[key],
                }, function (res) {
                    if (res.status == 200){
                        console.log(res)
                    }else{
                        console.log(res.message)
                    }
                })
            }else{
                console.log('failed')
            }
            

        })

        // console.log(resultPost)

        // $.post('/cctv/scan', {
        //     ip: ids,
        //     username: username,
        //     password: password,
        //     cctv:cctvName,
        // }, function (e) {
        //     console.log(e)
        // })


        
    }

    $.get("/api/v1/cctv/scan", function (result, status) {
        if (result.status == 200) {
            data_list = []
            result.data.forEach(function (item, index) {
                data_list.push(`<tr>
                                <td class="ps-4">
                                    <div class="form-check">
                                        <input class="form-check-input" id='cb-${index}' data-ip='${item}' name="check[]" type="checkbox" 
                                            value="${index}">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-3 py-1">
                                        <h6 class="mb-0 text-sm fw-normal">${item}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-3 py-1">
                                        <input type="text" class="form-control border px-2 w-75"
                                            id="cctv_name_${index}" name="cctv_name[]"
                                            placeholder="Default Name" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-3 py-1">
                                        <input type="text" class="form-control border px-2 w-75"
                                            id="username_${index}" name="username[]" placeholder="Username"
                                            value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-3 py-1">
                                        <input type="password" class="form-control border px-2 w-75"
                                            id="password_${index}" name="password[]" placeholder="Password"
                                            value="">
                                    </div>
                                </td></tr>`)

            });

            $('#result').empty()
            $('#result').html('<div class="table-responsive">' +
                '<form><table class="table align-items-center mb-0">' +
                '<thead><tr>' +
                ' <th class="" width="5%"><div class="form-check"><input class="form-check-input" type="checkbox" value=""  id="checkAll"></div></th>' +
                '<th class="text-secondary text-sm font-weight-bolder opacity-7">CCTV IP</th>' +
                '<th class="text-secondary text-sm font-weight-bolder opacity-7">CCTV Name</th>' +
                '<th class="text-secondary text-sm font-weight-bolder opacity-7 ps-2">Username</th>' +
                '<th class="text-secondary text-sm font-weight-bolder opacity-7 ps-2">Password</th></tr></thead>' +
                '<tbody >' + data_list + '</tbody></table> <hr>' +

                ' <div class="d-flex justify-content-end"><button class="btn btn-primary" onclick="sendMulti(event)">Save CCTV</button></div></form></div>'
            );

        } else {
            $('#result').html('');
            $('#result').html(`<div class="d-flex justify-content-center p-5 my-5">
                            <img src="/img/nodatafound.png" alt="No Data">
                        </div>`)
        }

        var checkAll = document.getElementById('checkAll');

        checkAll.addEventListener("change", function () {
            var checkboxes = document.getElementsByClassName('form-check-input');
            if (checkAll.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = true;
                    }
                }
            } else {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = false;
                    }
                }
            }
        });


    });
</script>
{%- endblock -%}